@import "tailwindcss";


:root {
  
  --primary: #1cce5d;
  --primary-foreground: #63f07b;
  --secondary: #e2e2e2;
  --secondary-foreground: #a95fb3;
  --gradient-start:#e96d5c;
  --gradient-end: #e6dc55;
  --foreground: #ebb147;
  --muted: #62af44;
  --accent: #2aa1b1;
}


@theme inline {
  --color-primary: var(--primary);
  --color-primary-foreground: var(--primary-foreground);
  --color-secondary: var(--secondary);
  --color-secondary-foreground: var(--secondary-foreground);
  --color-gradient-start: var(--gradient-start);
  --color-gradient-end: var(--gradient-end);
  --color-foreground: var(--foreground);
  --color-muted: var(--muted);
  --color-accent: var(--accent);
}
