@import "tailwindcss";


:root {
  
  --primary: #24ee6e;
  --primary-foreground: #a8fdaf;
  --secondary: #e2e2e2;
  --secondary-foreground: #ffffff;
  --gradient-start:#e96d5c;
  --gradient-end: #e6dc55;
  --foreground: #111827;
  --muted: #6b7280;
  --accent: #facc15;
}


@theme inline {
  --color-primary: var(--primary);
  --color-primary-foreground: var(--primary-foreground);

  --color-secondary: var(--secondary);
  --color-secondary-foreground: var(--secondary-foreground);

  --color-gradient-start: var(--gradient-start);
  --color-gradient-end: var(--gradient-end);
  

  --color-foreground: var(--foreground);
  --color-muted: var(--muted);

  --color-accent: var(--accent);
}
